body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    font-family: 'Open Sans';
}

/* HOME PAGE */

.home-page {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #000;
    
}

    .container {
      width: 300px;
      padding: 20px;
      margin: 0 auto;
      margin-top: 20px;
      background-color: #111;
      border-radius: 20px;
    }

    .header {
      text-align: center;
    }

    h1 {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 10px;
      color: #fff;
      font-family: 'Open Sans';
    }

    .info {
      font-size: 14px;
      color: #fff;
     font-family: 'Open Sans';
     margin-bottom: 20px;
    }

    .buttons {
      margin-top: 20px;
      display: flex;
      justify-content: space-around;
    }

    .button {
      background-color: #333;
      padding: 10px 15px;
      border-radius: 5px;
      color: #fff;
      font-family: 'Open Sans';
      border: none;
      cursor: pointer;
    }

    .button-primary {
      background-color: #4CAF50; /* Green */
    }
    
        .farming {
      margin-top: 20px;
      display: flex;
      justify-content: space-around;
    }
    .button-farming{
      width: 100%;
      height: 50px;
      background-color: #4CAF50; 
      margin-left: 25px;
      margin-right: 25px;
      border-radius: 50px;
      font-size: 14px;
      color: #fff;
      font-family: 'Open Sans';
      cursor: pointer;
      position: relative;
    }
    
    .button-farming.active {
  background-color: #111;
  color: #fff;
}
    
    .progres-bar-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  overflow: hidden;
}
    
   .progres-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #fff;
  font-size: 14px;
  font-family: 'Open Sans';
}

.progres-bar-fill {
  height: 100%;
  background-color: #4CAF50;
  border-radius: 0px;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 0.5s ease-in-out;
}

.container2 {
            display: flex;
            gap: 20px;
            padding: 25px;
        }
        .card {
            background-color: #111;
            border-radius: 20px;
            padding: 20px;
            text-align: center;
            text-decoration: none;
        }
        .card img {
            width: 60px;
            height: 60px;
        }
        .card h2 {
            margin-top: 10px;
            margin-bottom: 5px;
            color: #fff;
            font-family: 'Open Sans';
            font-size: 12px;
        }
        .arrow {
            font-size: 16px;
            margin-top: 10px;
            color: #fff;
            font-family: 'Open Sans';
        }

/* NAVBAR */

.nav-bar {
  background-color: #000; /* dark gray background */
  padding: 1em; /* add some padding */
  width: 90%; /* make the navbar full-width */
  position: fixed; /* fix the navbar to the bottom of the screen */
  bottom: 0; /* position the navbar at the bottom of the screen */
  left: 50%; /* center the navbar horizontally */
  transform: translateX(-50%); /* adjust the position to center */
  z-index: 1000; /* ensure the navbar is on top of other elements */
}

.nav-bar ul {
  list-style: none;
  margin: 0 auto; /* try this instead */
  padding: 0;
  display: flex;
  width: 100%;
}

.nav-bar li {
  margin: 0;
  flex-grow: 1;
}

.nav-bar a {
  color: #fff; /* white text color */
  text-decoration: none; /* remove underline */
  transition: color 0.2s ease; /* add a transition effect */
  font-size: 14px;
  font-family: 'Open Sans';
}

.nav-bar a:hover {
  color: #4CAF50; /* light gray text color on hover */
}


.nav-bar ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-bar ul li a img {
  margin-bottom: 10px;
}

.hidden {
  display: none;
}
